<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well signup">
      <h2 class="text-center">Sign up for an account today!</h2>
      <div class="row text-center">
        <div class="col-md-3 signup-box">
          <h3>Are you a Job Poster?</h3>
          <p>Sign up for a free account now.</p>
          <div><%= link_to "Sign Up Now!", new_poster_registration_path, class: "btn btn-success btn-lg" %></div>
        </div>
        <div class="col-md-3 signup-box">
          <h3>Are you a Contractor?</h3>
          <p>Sign up for a free account now.</p>
          <div><%= link_to "Sign Up Now!", new_provider_registration_path, class: "btn btn-success btn-lg" %></div>
        </div>
      </div>
    </div>
  </div>
</div>